.app {
  padding: 20px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.link {
  color: #007bff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 5px;
}
.link:hover {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.events {
  border: 1px solid gold;
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.events h2 {
  font-size: 25px;
}
.events h2 span {
  color: #0052a9;
}
.events h3 {
  color: #2c3e50;
}

.events h4 {
  color: #838c8c;
  font-weight: normal;
}

.events p {
  color: #838c8c;
}
.cancelEvent {
  margin-left: 10px;
  display: inline-block;
  background-color: #054a93;
}
.cancelEvent:hover {
  background-color: #0052a9ee;
}
