.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tasks {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  /* border: 20px solid tomato; */
}
.tasks h3 {
  font-size: 25px;
  color: tomato;
}
.tasks h4 {
  border: 1px solid red;
  padding: 2px;
  color: #282c34;
  background-color: #61dafb;
}

.link {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: aquamarine;
  margin: 0 40%;
  padding: 10px 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
